<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.pigotchi.pigotchi">

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/my_backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SchlafenActivity" />
        <activity android:name=".SpazierenActivity" />
        <activity android:name=".ShopActivity" />
        <activity android:name=".ProfilTama" />
        <activity android:name=".MainGameActivity" />
        <activity android:name=".evolution.SetName" />
        <activity android:name=".PflegenActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>